.city-date {
    &__container {
        display: flex;
        flex-direction: column;
    }

    &__day {
        display: flex;
    }

    &__month-and-time {
        display: flex;
    }

    &__sunrise-and-sunset {
        display: flex;
    }
}