@charset "UTF-8";
.days-btn {
  width: 126px;
  height: 27px;
  border-radius: 20px;
  border-style: none;
  padding: 0px, 12px, 0px, 12px;
  font-size: 14px;
  background: #FFFFFF;
  cursor: pointer;
}

.days-btn_not-active {
  background: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 767px) {
  .btn-container {
    margin-top: 387px;
    margin-left: 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .btn-container {
    margin-top: 599px;
    margin-left: 249px;
  }
}

@media screen and (min-width: 1280px) {
  .btn-container {
    margin-top: 580px;
    margin-left: 900px;
  }
}

.submit-btn {
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .submit-btn {
    margin-left: 272px;
    margin-top: 93px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .submit-btn {
    margin-left: 543px;
    margin-top: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .submit-btn {
    margin-left: 789px;
    margin-top: 139px;
  }
}

.search-bar {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 30px;
  border-style: none;
}

@media screen and (max-width: 768px) {
  .search-bar {
    height: 48px;
    top: 30px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .search-bar {
    height: 48px;
    top: 60px;
    margin-left: 134px;
  }
}

@media screen and (min-width: 1280px) {
  .search-bar {
    width: 520px;
    height: 48px;
    top: 79px;
    margin-left: 380px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

body {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  background-image: linear-gradient(0.56deg, #000000 -13.48%, rgba(0, 0, 0, 0) 78.75%), url(/src/images/bg-desktop.jpg);
  background-attachment: fixed;
  background-size: auto;
}

.section {
  min-width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .container {
    max-width: 500px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/*elementy tła */
.bg-square {
  position: fixed;
  border: 4px solid rgba(255, 255, 255, 0.15);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  width: 197.85px;
  height: 197.85px;
  border-radius: 30px;
}

.bg-square-left {
  top: 151.37px;
  left: -84px;
}

.bg-square-right {
  top: -86.08px;
  left: 995px;
}

.history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.history_button {
  color: #fff;
  background-color: rgba(16, 33, 54, 0.5);
  border-radius: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 12px;
  width: 74px;
  height: 28px;
}

.history_button_link {
  color: #fff;
}

.history_unvisable {
  visibility: hidden;
}

.history_arrow {
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
}
/*# sourceMappingURL=main.css.map */